.container {
  display: flex;
  justify-content: flex-end; }

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 5;
  background-color: #000428;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%; }
  @media only screen and (max-width: 50em) {
    .side-bar {
      left: -100%; }
      .side-bar--active {
        left: 0; } }

.about-work {
  width: 75%;
  display: flex;
  justify-content: center;
  box-shadow: 1rem 0 5rem white; }

.side-bar {
  transition: all 0.2s; }
  @media only screen and (max-width: 50em) {
    .side-bar {
      width: 20rem; } }
  @media only screen and (max-width: 31.25em) {
    .side-bar {
      width: 100%; } }
  .side-bar__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .side-bar__hero {
    width: 10rem;
    border-radius: 10rem;
    margin: 2rem; }
  .side-bar__name {
    font-size: 2rem; }
  .side-bar__hamburger {
    display: none;
    position: absolute; }
    @media only screen and (max-width: 50em) {
      .side-bar__hamburger {
        display: block;
        right: 1.5rem;
        top: 1.5rem;
        fill: rgba(255, 255, 255, 0.63); } }
    @media only screen and (max-width: 31.25em) {
      .side-bar__hamburger {
        margin-left: 80%; } }
    @media only screen and (max-width: 50em) {
      .side-bar__hamburger:hover {
        fill: white; } }

.side-nav {
  list-style: none;
  position: relative;
  margin-bottom: auto; }
  .side-nav__item {
    text-align: center;
    margin: 1rem; }
    .side-nav__item::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      border-top: 1px solid white;
      width: 0.3rem;
      transform: scaleX(0);
      transition: all 0.2s; }
    .side-nav__item::after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      border-top: 1px solid white;
      width: 0.3rem;
      transform: scale(0);
      transition: all 0.4s; }
  .side-nav__item:hover::before, .side-nav__item--active::before, .side-nav__item:hover::after, .side-nav__item--active::after {
    transform: scale(1);
    width: 100%; }
  .side-nav__link:visited, .side-nav__link:link {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 400; }

.bottom-nav {
  margin-bottom: 2rem; }
  .bottom-nav__item {
    list-style: none;
    display: inline-block;
    margin: 1rem;
    padding: 1rem; }
  .bottom-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: rgba(255, 255, 255, 0.603);
    transition: all 0.2s; }
    .bottom-nav__icon:hover {
      fill: white; }

.about-work {
  display: flex;
  position: relative;
  color: #004e92; }
  @media only screen and (max-width: 50em) {
    .about-work {
      position: absolute;
      width: 100%; } }
  .about-work__hamburger {
    display: none;
    left: 1.5rem;
    top: 1.5rem;
    position: absolute; }
    @media only screen and (max-width: 50em) {
      .about-work__hamburger {
        color: #004e92; } }
    @media only screen and (max-width: 50em) {
      .about-work__hamburger {
        display: block;
        z-index: 3;
        height: 2.5rem;
        width: 2.5rem;
        fill: #000428; } }
  .about-work__about {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    transition: all 2s;
    margin-left: auto;
    box-shadow: 0 1rem 5rem white;
    box-sizing: border-box;
    padding: 5rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7)), url("../img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

@keyframes what {
  0% {
    top: 0; }
  25% {
    top: 20%;
    width: 100%;
    height: 0.5rem;
    padding: 0;
    background-color: white; }
  50% {
    top: 20%;
    width: 0%;
    height: 0.5rem;
    padding: 0;
    background-color: white; }
  75% {
    top: 20%;
    width: 100%;
    height: 0.5rem;
    padding: 0;
    background-color: white; }
  100% {
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -1000em;
    padding: 0;
    background-color: white;
    background-image: none; } }

@keyframes what2 {
  0% {
    top: 0; }
  25% {
    top: 20%;
    width: 100%;
    height: 0.5rem;
    padding: 0;
    background-color: #004e92; }
  50% {
    top: 20%;
    width: 0%;
    height: 0.5rem;
    padding: 0;
    background-color: #004e92; }
  75% {
    top: 20%;
    width: 100%;
    height: 0.5rem;
    padding: 0;
    background-color: #004e92; }
  100% {
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -1000em;
    padding: 0;
    background-color: white;
    background-image: none; } }
  .about-work__title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem; }
  .about-work__description {
    font-size: 2rem; }
  .about-work__work {
    position: absolute;
    display: none;
    width: 100%;
    overflow: hidden;
    background-color: white;
    transition: all 2s;
    box-sizing: border-box;
    padding: 5rem; }
    @media only screen and (max-width: 50em) {
      .about-work__work {
        padding: 2rem; } }
  .about-work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column; }
  .about-work__app {
    position: relative;
    width: 80%;
    margin: 0.1rem;
    flex: 1; }
  .about-work__picture {
    width: 100%;
    height: 100%; }
  .about-work__app:not(:last-child) {
    margin-bottom: 3rem; }
  .about-work .overlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5); }
  .about-work .text {
    color: white;
    font-size: 2rem;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .about-work__app:hover .overlay {
    opacity: 1; }
  .about-work__proj {
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #203a43; }
  .about-work__summary {
    flex: 0 0 30%;
    padding: 1rem; }
    .about-work__summary p {
      font-size: 1.3rem; }
    @media screen and (max-width: 35em) {
      .about-work__summary {
        display: none; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow: auto; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right, #000428, #004e92);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
