* {
  box-sizing: border-box;
}
body {
  background-color: #fcebb6;
  background-image: url(background.gif);
  color: #221811;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
header {
  background-color: #d2b48c;
  height: 150px;
  background-image: url(javajamlogo.jpg);
  background-repeat: no-repeat;
}
main h2,
main h3,
main h4,
main p,
main div,
main ul,
main dl {
  padding-left: 3em;
  padding-right: 2em;
}
h1 {
  color: #221811;
  padding-top: 45px;
  padding-left: 220px;
  font-size: 3em;
}
h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 3em;
  padding-right: 2em;
  padding-bottom: 0;
  text-transform: uppercase;
  clear: left;
}
footer {
  background-color: #d2b48c;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  border-top: solid 2px #221811;
}
nav {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding-top: 10px;
  float: left;
  width: 200px;
}
nav a {
  text-decoration: none;
  color: #fef6c2;
}
nav a:link {
  color: #fef6c2;
}
nav a:visited {
  color: #d2b48c;
}
nav a:hover {
  color: #cc9933;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
}
main {
  padding-left: 0;
  padding-bottom: 2em;
  padding-right: 0;
  padding-top: 0;
  margin-left: 200px;
  background-color: #fef6c2;
}
.floatleft {
  padding-right: 20px;
  padding-bottom: 20px;
  float: left;
}
#wrapper {
  background-color: #231814;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 2px 2px 2px #1e1e1e;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.details {
  padding-left: 20%;
  padding-right: 20%;
  overflow: auto;
}
img {
  padding-left: 10px;
  padding-right: 10px;
}
.heroroad {
  background-image: url(heroroad.jpg);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}
.heromugs {
  background-image: url(heromugs.jpg);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}
.heroguitar {
  background-image: url(heroguitar.jpg);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}
.herojobs {
  background-image: url(herojobs.jpg);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}

.filler {
  height: 150px;
  width: 100px;
  float: right;
}
